<!doctype html>
<html lang="es">
    <head>
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



        <title>Consultor DTE</title>
    </head>

    <body>
        <div class="container mt-4">
            <div class="d-flex justify-content-center align-items-center">
                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
                <div class="inline-block align-middle">
                	<h2 class="font-weight-normal lead">{{message}}</h2>{#Página no encontrada#}
                </div>

            </div>
            <div class="d-flex justify-content-center align-items-center">
                <br>
                <a href="{{ruta}}">Volver</a>
            </div>
        </div>
    </body>
</html>
